<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color: black;">Note Management</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <%- include("component/navbar") %>
    </header>
    <main>
      
        <section id="note-list">
        <h1>Notes</h1>
            <ul>
                
              <%     notes.forEach((note)=>{ %>
            <li>
                  <h3><%- note.title  %></h3>
                  <p><%- note.content  %></p> 
             <a style="color: black; font-size: 0.9rem;padding: 2px; background-color: red; list-style: disc; " href="/single/<%-note.id %>">view Note</a>    
            
                
            </li>
                <%})%>
            </ul>
        </section>
    </main>
    <%- include("component/footer.ejs") %>
</body>
</html>
